@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
:root {
  /* Fonts */
  --font-primary: "VT323", monospace;
  /* Colors */
  --color-black: #000;
  --color-black-transparent: rgba(17,34,17,.6);
  --color-primary: #da8aff;
  --color-secondary: #52077d;
  --color-tertiary: rgba(42, 32, 66);
  /* Spacing */
  --sp-base: 8px;
}

@keyframes blink {
  0%, 75% {
    opacity: 1; /* Fully visible at the start and end */
  }
  20%, 40% {
    opacity: 0; /* Invisible during the blink */
  }
}
body {
  font-family: var(--font-primary);
  background-color: var(--color-black);
  color: var(--color-primary);
  justify-content: space-between;
  background: repeating-linear-gradient(0deg, var(--color-black), var(--color-black) 2px, var(--color-tertiary) 2px, var(--color-tertiary) 4px);
}
@media screen and (min-width: 740px) {
  body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    gap: 8px;
  }
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-primary);
}

h1 {
  font-size: 24pt;
  text-shadow: 0 0 5px var(--color-secondary), 0 0 5px var(--color-secondary), 0 0 5px var(--color-secondary);
}
@media screen and (min-width: 740px) {
  h1 {
    font-size: 30pt;
  }
}

h2 {
  font-size: 11pt;
  width: 100%;
  text-align: left;
  background: repeating-linear-gradient(0deg, var(--color-secondary), var(--color-secondary) 1px, var(--color-primary) 1px, var(--color-primary) 2px);
  text-shadow: 0 0 5px var(--color-primary);
  color: var(--color-black);
  margin: var(--sp-base) 0 0 0;
  height: fit-content;
  padding: 2px;
  box-sizing: border-box;
  font-family: var(--font-primary);
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 740px) {
  h2 {
    font-size: 14pt;
    margin-top: 0;
    padding: var(--sp-base);
  }
}

h3 {
  font-size: 16pt;
  text-transform: uppercase;
}
@media screen and (min-width: 740px) {
  h3 {
    margin-top: var(--sp-base);
    font-size: 20pt;
  }
}

p, ul, li {
  font-size: 16pt;
}

a {
  color: var(--color-primary) "";
}

/* Header */
header {
  border: solid 1px var(--color-primary);
  text-align: center;
  flex-grow: 1;
}
@media screen and (min-width: 740px) {
  header {
    width: 100%;
    margin-top: calc(var(--sp-base) * 3);
  }
}

.solar-system-overview {
  text-align: left;
  position: relative;
  border: solid 1px var(--color-primary);
}
.solar-system-overview p {
  padding: var(--sp-base);
  box-sizing: border-box;
}
.solar-system-overview .image {
  /* https://commons.wikimedia.org/wiki/File:Planets2013-unlabeled.jpg */
  background-image: url("images/solar-system.jpg");
  mix-blend-mode: lighten;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
  border-bottom: solid 1px var(--color-primary);
}
@media screen and (min-width: 740px) {
  .solar-system-overview {
    display: block !important;
    width: 30%;
    order: 1;
  }
  .solar-system-overview .image {
    height: 150px;
  }
}

/* Navigation */
.nav-wrapper {
  border: solid 1px var(--color-primary);
  height: fit-content;
}
.nav-wrapper h3 {
  background: repeating-linear-gradient(0deg, var(--color-secondary), var(--color-secondary) 1px, var(--color-primary) 1px, var(--color-primary) 2px);
  text-shadow: 0 0 5px var(--color-primary);
  margin: 0;
  padding: var(--sp-base) 0;
  color: var(--color-black);
}
.nav-wrapper a {
  color: var(--color-primary);
  background-color: var(--color-black);
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
}
.nav-wrapper a:before {
  content: "> ";
  margin-left: 10px;
  -webkit-font-smoothing: none;
}
.nav-wrapper a:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}
.nav-wrapper a:hover:before {
  content: "> ";
  margin-left: 5px;
  -webkit-font-smoothing: none;
}
@media screen and (min-width: 740px) {
  .nav-wrapper {
    width: 25%;
    order: 2;
    border-bottom: 0;
  }
}

ul.nav {
  display: none;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.nav > ul {
  margin: 0;
  padding: 0;
}
ul.nav > ul li {
  margin: 0;
  padding: 0;
}
ul.nav.visible {
  display: block;
}
ul.nav li {
  list-style-type: none;
  margin: 0;
  padding: var(--sp-base);
  border-bottom: solid 1px var(--color-primary);
}
@media screen and (min-width: 740px) {
  ul.nav {
    display: block;
  }
}

section.planets,
section.moons,
section.solar-system-objects {
  flex-wrap: wrap;
  gap: var(--sp-base);
  display: none;
  box-sizing: border-box;
}
section.planets.visible,
section.moons.visible,
section.solar-system-objects.visible {
  display: block;
  animation: blink 0.01s ease-in-out 2;
}
section.planets article,
section.moons article,
section.solar-system-objects article {
  padding: var(--sp-base);
  box-sizing: border-box;
  border: solid 1px var(--color-primary);
  position: relative;
  overflow: hidden;
  display: none;
}
section.planets article.visible,
section.moons article.visible,
section.solar-system-objects article.visible {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: blink 0.1s ease-in-out 2;
}
@media screen and (min-width: 740px) {
  section.planets,
  section.moons,
  section.solar-system-objects {
    order: 3;
    width: 40%;
  }
  section.planets article,
  section.moons article,
  section.solar-system-objects article {
    height: calc(100% - 38px);
  }
}

/* Footer */
footer {
  width: 100%;
  margin: calc(var(--sp-base) * 2) 0;
  text-align: center;
}
@media screen and (min-width: 740px) {
  footer {
    order: 4;
  }
}

/* Testing for Mobile */
.nav-header {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14pt;
}
.nav-header .icon::before {
  content: "\eba5";
  font-family: "Material Symbols Outlined";
  transform: rotate(45deg);
  font-size: 30px;
  margin-left: 10px;
  margin-top: -10px;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  -webkit-font-smoothing: none;
}
.nav-header .explore-object {
  text-transform: uppercase;
}

article {
  min-height: 216px;
}
article .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  display: block;
  order: 2;
  position: relative;
  width: 200px;
  height: 200px;
  mix-blend-mode: exclusion;
}
article.planet .image {
  display: block;
  order: 0;
  position: absolute;
  z-index: -1;
  right: -4px;
}
article > h3 {
  order: 1;
  width: 100%;
  margin-bottom: 0;
}
article > p {
  display: flex;
  order: 3;
}
article > ul {
  order: 2;
  margin: 0;
  margin-left: var(--sp-base);
  padding: 10px;
  list-style: "> ";
  width: calc(100% - 180px);
}
article > ul > li {
  margin-bottom: 8px;
}
@media screen and (min-width: 740px) {
  article .image {
    width: 200px;
    height: 200px;
  }
  article > p {
    background-color: var(--color-black-transparent);
  }
}

/* Moons & Objects */
.moons .image,
.solar-system-objects .image {
  width: 100%;
  background-position: center center;
}

/* All Images with Credits */
/* Source: https://commons.wikimedia.org/wiki/File:Transparent_Mercury.png*/
.mercury .image {
  background-image: url("images/mercury.png");
}

/* Source: https://commons.wikimedia.org/wiki/File:Venus_globe_-_transparent_background.png */
.venus .image {
  background-image: url("images/venus.png");
}

/* https://commons.wikimedia.org/wiki/File:Earth_Western_Hemisphere_transparent_background.png */
.earth .image {
  background-image: url("images/earth.png");
}

/* https://commons.wikimedia.org/wiki/File:Mars_%2816716283421%29_-_Transparent_background.png */
.mars .image {
  background-image: url("images/mars.png");
}

/* https://commons.wikimedia.org/wiki/File:Transparent_Jupiter.png */
.jupiter .image {
  background-image: url("images/jupiter.png");
}

/* Saturn: https://commons.wikimedia.org/wiki/File:Saturnx.png */
.saturn .image {
  background-image: url("images/saturn.png");
}

/* Uranus: https://commons.wikimedia.org/wiki/File:Rings_and_Moons_Circling_Uranus.jpg */
.uranus .image {
  background-image: url("images/uranus.jpg");
}

/* https://commons.wikimedia.org/wiki/File:Transparent_Neptune.png */
.neptune .image {
  background-image: url("images/neptune.png");
}

/* https://en.wikipedia.org/wiki/Moon#/media/File:FullMoon2010.jpg */
.earth-moon .image {
  background-image: url("images/earth-moon.jpg");
}

/* https://commons.wikimedia.org/wiki/File:Titan_in_true_color.jpg */
.titan .image {
  background-image: url("images/titan.jpg");
}

/* https://commons.wikimedia.org/wiki/File:Europa-moon.jpg */
.europa .image {
  background-image: url("images/europa.jpg");
}

/* https://commons.wikimedia.org/wiki/File:Asteroid_belt_between_Mars_%26_Jupiter.PNG */
.asteroid-belt .image {
  background-image: url("images/asteroid-belt.png");
}

/*https://commons.wikimedia.org/wiki/File:Kuiperbelt.png */
.kuiper-belt .image {
  background-image: url("images/kuiper-belt.png");
}

/* https://commons.wikimedia.org/wiki/File:Comet_Hale_Bopp.jpg */
.comets .image {
  background-image: url("images/comets.jpg");
}

/*# sourceMappingURL=style.css.map */
